
body {
    margin: 0;
    padding: 0;
  }
  
.App {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px;
    justify-content: center;
  }
  
  .movie-card {
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.2s;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-card a {
    text-decoration: none;
    color: inherit;
  }
  
  .movie-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .movie-card h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .movie-card p {
    font-size: 14px;
    margin: 5px 0;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  
  .menu-button button {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .search-bar {
    flex-grow: 1;
    margin: 0 20px;
  }
  
  .search-bar input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  
  .main-content {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .sign-in-link a {
    color: white;
    text-decoration: none;
  }

  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column; 
      text-align: center;
    }
  
    .search-bar {
      margin: 10px 0;
    }
  }

  
 
.movie-card .favorite-icon {
  position: absolute;
  top: 10px; 
  right: 10px; 
  background-color:white; 
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.movie-card .favorite-icon:hover {
  background-color: blueviolet; 
}

.movie-card .favorite-icon.clicked {
  background-color: red; 
}

.movie-card .favorite-icon i {
  font-size: 24px; 
  color: black; 
}

